/*good idea to put at the top of every style sheet*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	background-color: #fff7e6;
}

.navbar ul{
	list-style-type: none;
	background-color: #404040;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.navbar a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-aling: center;
	background-color: #404040;
}

.navbar a:hover {
	font-weight: bold;
}

.navbar li{
	float: left;
}

.name {
	margin-top: 25px;
}

.bio {
	margin: 25px;
	display: flex;
	justify-items: center;
	margin-top: 10px;
	border-style: solid;
	border-color: #00b8e6;
	border-width: 5px;
	align-items: center;
}

.imgcontainer {
	width: 50%;
	margin-right: 25px;
	float: center;
}

.kayla {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.paragraph {
	display: stack;
	width: 50%;
}

.topcontent {
	display: flex;
	align-items: center;
	margin: 25px;

}

.photo {
	width: 35%;
}

.production {
	width: 35%;
	margin-left: 20px;
	margin-right: 20px;
}

.edit {
	width: 30%;
}

#foot {
	display: flex;
	justify-content: center;
	margin: 25px;
}

.socials {
	display: flex;
	align-items: right;
	margin-left: 50px;
}

.insta {
	background-color: #00b8e6;
	font-size: 18px;
	border: outset;
	border-width: 5px;
	padding: 2px;
	margin-right: 10px;
	border-radius: 8px;
	height: 100px;
	width: 100px;
}

.insta:hover{
	background-color: black;
	color: #00b8e6;
}

.linked {
	background-color: #00b8e6;
	font-size: 18px;
	border: outset;
	border-width: 5px;
	padding: 2px;
	border-radius: 8px;
	height: 100px;
	width: 100px;
}

.linked:hover{
	background-color: black;
	color: #00b8e6;
}

@media (max-width: 700px) {
	.navbar li {
		font-size: 18px;
	}
	.aboutpage {
		display: none ;
	}

	.name {
		font-size: 60px;
	}
	
	.imgcontainer {
		width: 100%;
		margin: 0;
	}
	.bio {
		display: block;
	}
	.paragraph {
		width: 100%;
	}

	.topcontent {
		flex-direction: column;
	}
	.topcontent div{
		width: 100%;
		margin-bottom: 15px;
	}

	#foot h1{
		font-size: 50px;
	}	
}